version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: willitmod-axelive_server_1
      APP_PORT: 5210

  server:
    image: ghcr.io/willitmod/axelive:v1.3@sha256:cee6cebc5414e4562e8faf0dd874774d14d276c10bb402b782aa679ce92c5d82
    restart: on-failure
    stop_grace_period: 30s
    init: true
    environment:
      AXELIVE_HOME: /data
      AXELIVE_PORT: 5210
      AXELIVE_HOST: 0.0.0.0
      AXELIVE_OPEN_UI: 0
    volumes:
      - ${APP_DATA_DIR}/data:/data
