version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: willitmod-axelive_server_1
      APP_PORT: 5210

  server:
    image: ghcr.io/willitmod/axelive-release:v1.2-r1
    restart: on-failure
    stop_grace_period: 30s
    init: true
    ports:
      - "5210:5210"
    environment:
      AXELIVE_HOME: /data
      AXELIVE_PORT: 5210
      AXELIVE_HOST: 0.0.0.0
      AXELIVE_OPEN_UI: 0
    volumes:
      - ${APP_DATA_DIR}/data:/data
